 body {
     font-family: "Lato", sans-serif;
 }
 
 .sidenav {
     height: 100%;
     width: 0;
     position: fixed;
     z-index: 1;
     top: 0;
     left: 0;
     background-color: #34b67a;
   	overflow: hidden;
     transition: 0.5s;
     padding-top: 60px;
     
 }

 
 .sidenav ul li a {
     /* padding: 8px 8px 8px 32px;*/
     text-decoration: none;
     font-size: 25px;
     color: #f8f8f8;
     display: block;
     transition: 0.3s
 }
 
 .sidenav a:hover,
 .offcanvas a:focus {
     color: green;
 }
 
 .sidenav .closebtn {
     position: absolute;
     top: 0;
     right: 20px;
     font-size: 36px;
     margin-left: 50px;
 }
 
 #main {
     transition: margin-left .5s;
     padding: 16px;
 }
 
 @media screen and (max-height: 450px) {
     .sidenav {
         padding-top: 15px;
     }
     .sidenav a {
         font-size: 18px;
     }
 }
 /*map config*/
 
 #map {
     height: 91.6%;
     width: 100%;
 }
 
 html,
 body {
     height: 100%;
     margin: 0;
     padding: 0;
 }
 /*header*/
 
 .navbar-brand {
     position: absolute;
     width: 100%;
     left: 0;
     top: 0;
     text-align: center;
     margin: auto;
 }
 
 .navbar {
     margin-bottom: 0
 }
 /*sidenav*/
 
 .rowClear {
     display: block;
     padding: 10px 5px;
     
     /* margin-bottom: 10px;*/
     height: 40px;
 }
 
 .rowClear2 {
     display: block;
     padding: 10px 5px;
     height: 40px;
     /*border-bottom: 1px solid #ccc;*/
 }
 .rowClear2 b{
     color: white;
 }
.btn-back{
    color: white;
}

 #mySidenav .nav .active a {
     background-color: #109d59;
 }
 
 #content {
     /*padding-top: 10px;*/
     padding-bottom: 10px;
     background-color:white;
     height: 700px;
 }
 
 
 .searchBox {
     padding: 10px;
     background-color: #109d59;
     /*margin-bottom: 10px;*/
 }
 
 .detailPage {
     background-color:  #109d59;
     overflow: hidden;
     height: 80px;
     
 }
 .containter{
	overflow-x:hidden;
	overflow-y:auto;
	height: 400px;
 	 }
 
 .detailPage .btn {
     padding: 0px;
     overflow: hidden;
 }
 
 .directionDispatcher {
     padding: 10px;
     background-color: #109d59;
 }
 
 .rowClear4 {
     display: block;
     padding: 10px 5px;
     height: 40px;
 }
 
 .stations {
     display: block;
     padding: 10px 5px;
     height: 40px;
     border-bottom: 1px solid #ccc;
 }
.row-bordered:after {
  content: "";
  display: block;
  border-bottom: 1px solid #ccc;
  margin: 0 15px;
}

/*should customize it*/
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: white;
}
.btn-default {
    color: white;
    background-color: #34b67a;
    border-radius:0;
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: white;
    text-align: center;
    background-color:#34b67a;
    border: 1px solid #ccc;
    /* border-radius: 4px; */
}
