 body {
     font-family: "Lato", sans-serif;
 }
 
 .sidenav {
     height: 100%;
     width: 0;
     position: fixed;
     z-index: 1;
     top: 0;
     left: 0;
     background-color: #f8f8f8;
     overflow-x: hidden;
     transition: 0.5s;
     padding-top: 60px;
 }
 
 .sidenav ul li a{
    /* padding: 8px 8px 8px 32px;*/
     text-decoration: none;
     font-size: 25px;
     color: black;
     display: block;
     transition: 0.3s
 }

 
 .sidenav a:hover,
 .offcanvas a:focus {
     color: green;
 }
 
 .sidenav .closebtn {
     position: absolute;
     top: 0;
     right: 25px;
     font-size: 36px;
     margin-left: 50px;
 }
 
 #main {
     transition: margin-left .5s;
     padding: 16px;
 }
 
 @media screen and (max-height: 450px) {
     .sidenav {
         padding-top: 15px;
     }
     .sidenav a {
         font-size: 18px;
     }
 }
 /*map config*/
 
 #map {
     height: 91.6%;
     width: 100%;
 }
 
 html,
 body {
     height: 100%;
     margin: 0;
     padding: 0;
 }
 /*header*/
 
 .navbar-brand {
     position: absolute;
     width: 100%;
     left: 0;
     top: 0;
     text-align: center;
     margin: auto;
 }
 
 .navbar {
     margin-bottom: 0
 }
 /*sidenav*/
 
 .rowClear {
     display: block;
     padding:10px 5px;
     border-bottom: 1px solid #ccc;
    /* margin-bottom: 10px;*/
     height: 40px;
     
 }

.rowClear2 {
     display: block;
     padding:10px 5px;
     height: 40px;
    border-bottom: 1px solid #ccc;
 }
 /*customize color*/
 #mySidenav .nav .active a {
     background-color: #C0C0C0;
 }
#content{
    /*padding-top: 10px;*/
    padding-bottom:10px;
}
.searchBox{
    padding:10px;
    background-color:#C0C0C0;
    /*margin-bottom: 10px;*/
}
.detailPage{
     background-color:#C0C0C0;
}
.detailPage .btn{
        padding: 0px;
}
.directionDispatcher{
     padding:10px;
    background-color:#C0C0C0;
}

.rowClear4 {
     display: block;
     padding:10px 5px;
     height: 40px;
    border-bottom: 1px solid #ccc;
 }

