<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Google Map Hello World Example</title>
<style type="text/css">
div#map {
	width: 100%;
	height: 350px;
}
</style>

</head>
<body>
	<div id="ajax_response">
	</div>
	<div>
		<p>User name</p>
		<input type="text" id="name" name="name1" />
		<p>Age</p>
		<input type="text" id="age" name="age1" /> 
		
		<input type="submit" class="route" value="add "/>
		<input type="submit" class="route" value="add "/>
	</div>
	
	<div>
		<input type="submit" id="btnAll" value="get All"
			onclick="getAllViaAjax()" />
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script type="text/javascript">
		/*<![CDATA[*/
		var url= window.location.href;
			$(".route").click(function(){
				var url= window.location.href;
				console.log(url);
				var name=$("#name").val();
				var age=$("#age").val();
				$.ajax({
					type : "GET",
					contentType : "application/json",
					url : url+"/person/new",
					data : {
						name : name,
						age : age
					},
					dataType : 'json',
					timeout : 100000,
					success:function(data){
						console.log("SUCCESS: ", data);
						alert(data);
						let result="<h3>name</h3>"+data.name+"<h3> age </h3>"+data.age;
						$("#ajax_response").html(result);
						//alertHaha();
					}
				});
			});
			function alertHaha(){
				for(let i=0;i<4;i++){
					console.log(i);
				}
			}
			function getAllViaAjax(){
				$.ajax({
					type : "GET",
					contentType : "application/json",
					url : url+"/persons",
					dataType : 'json',
					timeout : 100000,
					success:function(data){
						let result="";
						alert("all member"+data);
						console.log ("all member"+data);
						var count = data.length;
						for(let i=0;i<count;i++){
							let result1="<h2>name: "+data[i].name+"</h2>"+" "+data[i].age;
							result=result+result1;
							$("#ajax_response").html(result);
						}
					}
				});			
			}
			/*]]>*/
		</script>
		
</body>
</html>