<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<title>Insert title here</title>
</head>
<body>
	<div id="content">
            <div class="detailPage" style="">
                <div class="containter">
                    <div class="row row-eq-height rowClear">
                        <div class="col-md-2">
                            <button type="button" class="btn btn-default" aria-label="Left Align"> <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> </button>
                        </div>
                        <div class="col-md-10">
                            <p>Route 6 : xuan dieu- Hoa Khanh</p>
                        </div>
                    </div>
                    
                    <div class="row row-eq-height rowClear">
                        <div class="col-md-12">
                            <div class="btn-group btn-group-justified" role="group">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default">Go</button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default">Back</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="containter">
                <div class="row row-eq-height rowClear">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-10"><a href="">Tran Phu</a></div>
                </div>
                   <div class="row row-eq-height rowClear">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-10"><a href="">tran cao van</a></div>
                </div>
            </div>
        </div>
</body>
</html>