<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Insert title here</title>
</head>
<body>
	<div id="content">
		<div class="detailPage" style="">
			<div class="containter">
				<div class="row row-eq-height rowClear2">
					<div class="col-md-2">
							<span class="glyphicon glyphicon-menu-left btn-back" aria-hidden="true"></span>
					</div>
					<div class="col-md-10">
						<b th:text="${busRoute}">${busRoute}</b>
					</div>
				</div>

				<div class="row row-eq-height rowClear2">
					<div class="col-md-12">
						<div class="btn-group btn-group-justified" role="group">
							<div class="btn-group" role="group">
								<button type="button" id="btnGo" class="btn btn-default">Go</button>
							</div>
							<div class="btn-group" role="group">
								<button type="button" id="btnBack" class="btn btn-default">Back</button>
							</div>
							<div class="btn-group" role="group">
								<button type="button" id="btnDetail" class="btn btn-default">Detail</button>
							</div>
							<div class="btn-group" role="group">
								<button type="button" id="btnGet" class="btn btn-default">Get</button>
							</div>
							<div class="btn-group" role="group">
								<button type="button" id="btnStop" class="btn btn-default">Stop</button>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="containter">
			<div class="row row-eq-height">
				<div class="col-md-12">
					<div th:remove="tag" th:utext="${busRouteInfo.information}"></div>
				</div>
			</div>
		</div>
	</div>


</body>
</html>