<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Google Map Hello World Example</title>
    <style>
        #right-panel {
            font-family: 'Roboto', 'sans-serif';
            line-height: 30px;
            padding-left: 10px;
        }
        
        #right-panel select,
        #right-panel input {
            font-size: 15px;
        }
        
        #right-panel select {
            width: 100%;
        }
        
        #right-panel i {
            font-size: 12px;
        }
        
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        
        #map {
            height: 100%;
            float: left;
            width: 70%;
            height: 100%;
        }
        
        #right-panel {
            margin: 20px;
            border-width: 2px;
            width: 20%;
            height: 400px;
            float: left;
            text-align: left;
            padding-top: 0;
            background-color: pink;
        }
        
        #directions-panel {
            margin-top: 10px;
            background-color: #FFEE77;
            padding: 10px;
        }
    </style>
</head>

<body>
    <div id="map"></div>
    <div id="right-panel">
        <input type="submit" class="route" value="route5" name="route5" />
        <input type="submit" class="route" value="route7" name="route7" />
        <br/>
        <input type="button" name="go" id="btnGo" value="go" />
        <input type="button" name="back" id="btnBack" value="back" />
        <div id="directions-panel"></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var markers=[];
        function initMap() {
            let directionsService = new google.maps.DirectionsService;
            let directionsDisplay = new google.maps.DirectionsRenderer;
            // init map
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12
                , center: {
                    lat: 16.054856
                    , lng: 108.200403
                }
            });
            directionsDisplay.setMap(map);
//            hide way points
            directionsDisplay.setOptions( { suppressMarkers: true } );
            var currentRoute;
            var url = window.location.href;
            $(".route").click(function () {
            	clearMarkers();
            	 markers = [];
                let busRoute = $(this).val();
                currentRoute = $(this).attr("name");
                callAjax(url, busRoute, "go", directionsService, directionsDisplay,map);
            });
            $("#btnBack").click(function () {
                if (typeof (currentRoute) == "undefined") {
                    alert("please choose the route");
                }
                else {
                	clearMarkers();
               	 markers = [];
                    callAjax(url, currentRoute, "back", directionsService, directionsDisplay,map);
                }
            });
            $("#btnGo").click(function () {
                if (typeof (currentRoute) == "undefined") {
                	alert("please choose the route");
                }
                else {
                	clearMarkers();
               	 markers = [];
                    callAjax(url, currentRoute, "go", directionsService, directionsDisplay,map);
                }
            });
        }
        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
              markers[i].setMap(map);
            }
          }
        function clearMarkers() {
            setMapOnAll(null);
          }

        function callAjax(url, busRoute, trend, directionsService, directionsDisplay,map) {
            $.ajax({
                type: "GET"
                , contentType: "application/json"
                , url: url + "/ajax"
                , data: {
                    busRoute: busRoute
                    , trend: trend
                }
                , dataType: 'json'
                , timeout: 100000
                , success: function (jsonResponse) {
                    calculateAndDisplayRoute1(directionsService, directionsDisplay, jsonResponse,map);
                }
            });
        }

        function parseLat(str) {
            let temp = [];
            temp = str.split(',');
            let number = parseFloat(temp[0]);
            return number;
        }

        function parseLng(str) {
            let temp = [];
            temp = str.split(',');
            let number = parseFloat(temp[1]);
            return number;
        }

        function calculateAndDisplayRoute1(directionsService, directionsDisplay, jsonResponse,map) {
            // load waypoint from server
            var totalDataLength = jsonResponse.length;
            var waypts = [];
            var totalDataLength = jsonResponse.length;
            var latLng = jsonResponse[0].LatLng;
            for (let i = 0; i < jsonResponse.length; i++) {
            	let lat = parseLat(jsonResponse[i].LatLng);
                let lng = parseLng(jsonResponse[i].LatLng);
            	if(i==0){
            		markers.push(marker = new google.maps.Marker({
    					position: new google.maps.LatLng(lat,lng),
    					icon:"https://chart.googleapis.com/chart?chst=d_map_xpin_icon&chld=pin_star|car-dealer|ADDE63|FF0000",
    					map: map
    			    }));
            	}
            	else if (i > 0 && i < jsonResponse.length - 1) {
                    
                    markers.push(marker = new google.maps.Marker({
    					position: new google.maps.LatLng(lat,lng),
    					icon:"https://chart.googleapis.com/chart?chst=d_map_pin_icon&chld=bus|00ffff",
    					map: map
    			    }));
                    waypts.push({
                        location: new google.maps.LatLng(lat, lng)
                        , stopover: true
                    });
                }
            	else{
            		markers.push(marker = new google.maps.Marker({
    					position: new google.maps.LatLng(lat,lng),
    					icon:"https://chart.googleapis.com/chart?chst=d_map_pin_icon&chld=flag|ADDE63",
    					map: map
    			    }));
            	}
            }
            console.log(waypts[0].location);
            // cusomize waypoints
//          icon:"https://chart.googleapis.com/chart?chst=d_map_pin_letter&chld=" + i + "|FF0000|000000",
               for (let i = 0; i < waypts.length; i++) {
				
			}  
            ///////////
            directionsService.route({
                origin: new google.maps.LatLng(parseLat(jsonResponse[0].LatLng), parseLng(jsonResponse[0].LatLng))
                , destination: new google.maps.LatLng(parseLat(jsonResponse[totalDataLength - 1].LatLng), parseLng(jsonResponse[totalDataLength - 1].LatLng))
                , waypoints: waypts
                , optimizeWaypoints: true
                , travelMode: 'DRIVING'
            }, function (response, status) {
                if (status === 'OK') {
                    directionsDisplay.setDirections(response);
                }
                else {
                    window.alert('Directions request failed due to ' + status);
                }
            });
        }
        /*]]>*/
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCv7lDkj6Yd3cMbujJcHTKIo_AzLEga-7c&amp;callback=initMap" async="async" defer="defer"></script>
</body>

</html>