<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Insert title here</title>
</head>
<body>
		<!-- content for direction -->
<div id="content">
           <div class="row row-eq-height rowClear2">
						<div class="col-md-12">
							<div class="btn-group btn-group-justified" role="group">
								<div class="btn-group" role="group">
									<button type="button" id="btnGo" class="btn btn-default">Go</button>
								</div>
								<div class="btn-group" role="group">
									<button type="button" id="btnBack" class="btn btn-default">Back</button>
								</div>
							</div>
						</div>
					</div></div>
</body>
</html>