<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />

</head>

<body>
	<!-- content -->
	<div id="content">
		<div class="containter directionDispatcher">
			<div class="row">
				<div class="col-md-12">
					<div class="input-group input-group-sm">
						<span class="input-group-addon" id="sizing-addon3">@</span> <input
							id="startPoint" type="text" class="form-control"
							placeholder="Username" aria-describedby="sizing-addon3"
							value="135 cu chinh lan,da nang" />
					</div>
				</div>
				<div class="col-md-12">
					<div class="input-group input-group-sm">
						<span class="input-group-addon" id="sizing-addon3">@</span> <input
							id="endPoint" type="text" class="form-control"
							placeholder="Username" aria-describedby="sizing-addon3"
							value="135 le loi,da nang" />
					</div>
				</div>
				<div class="col-md-4 col-md-offset-4">
					<div class="btn-group btn-group-sm" role="group" aria-label="...">
						<div class="btn-group" role="group" aria-label="...">
							<button type="button" id="btnSearch" class="btn btn-default">Search</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="contentDirection">
			<div class="containter">
				<div th:if="${size != 0}" >
					<div class="row row-eq-height rowClear5 row-bordered" th:each="routeElement :${routeElements}">
				
					<div class="col-md-2 col-sm-1 col-xs-1 col-sm-offset-5 col-md-offset-0 col-xs-offset-5"> 
						<b th:if="${routeElement.distanceWalking != 0}">
						    <p><img src="../resources/walk.png" height="20" width="20"></img></p>
						</b>
						<b th:if="${routeElement.distanceOnBus != 0}">
							<p><img src="../resources/bus.jpg" height="20" width="20"></img></p>
						</b>
					</div>
					<div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-0">
						<b th:if="${routeElement.distanceWalking != 0}">
							<div th:if="${routeElement.stationFromId eq -1}" th:text="'walk to station '+ ${routeElement.stationToId}+' ('+${routeElement.distanceWalking}+'m) '"></div>
						    <div th:if="${routeElement.stationToId eq 9999}" th:text="'walk to destination ('+${routeElement.distanceWalking}+'m)'" ></div>
						    <div th:if="${routeElement.stationToId != 9999 and routeElement.stationFromId != -1}" th:text="'change bus, walk to station '+ ${routeElement.stationToId}+' ('+${routeElement.distanceWalking}+'m) '" ></div>
						</b>
						<b th:if="${routeElement.distanceOnBus != 0}">
						    <div th:text="'get on route '+ ${routeElement.busRoute.id}+' from station '+${routeElement.stationFromId}+' to station '+${routeElement.stationToId}+'  ('+${routeElement.distanceOnBus}+'m) '" ></div>
						</b>
					</div>
				</div>
				</div>
				<div th:if="${size == 0}" >
					<div class="row row-eq-height rowClear4 row-bordered">
						<div class="col-md-10 col-xs-3 col-md-offset-0">
							<i>Max bus change's option up to one for optimize result</i>
							<b th:text="'Click option '+ ${maxRoute+1}+' '" ></b>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</body>

</html>