<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />

</head>

<body>
	<!-- content -->
	<div id="content">
		<div id="contentDirection">
			<div class="containter">
				<div th:if="${size != 0}" >
					<div class="row row-eq-height rowClear5 row-bordered" th:each="routeElement :${routeElements}">
				
					<div class="col-md-2 col-sm-1 col-xs-1 col-sm-offset-5 col-md-offset-0 col-xs-offset-5"> 
						<div th:if="${routeElement.distanceWalking != 0}">
						    <p><img src="../resources/walk.png" height="20" width="20"></img></p>
						</div>
						<div th:if="${routeElement.distanceOnBus != 0}">
							<p><img src="../resources/bus.jpg" height="20" width="20"></img></p>
						</div>
					</div>
					<div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-0">
						<div th:if="${routeElement.distanceWalking != 0}">
							
							<div th:remove="tag" th:if="${routeElement.stationFromId eq -1}">
								<div th:remove="tag" th:if="${routeElement.distanceWalking &gt;1000}">
									<b th:text="'walk to station '+ ${routeElement.stationToId}+' ('+${routeElement.distanceWalking/1000}+'km) '"></b>	
								</div>
								<div th:remove="tag" th:if="${routeElement.distanceWalking  &lt;1000}">
									<b th:text="'walk to station '+ ${routeElement.stationToId}+' ('+${routeElement.distanceWalking}+'m) '"></b>	
								</div>
							</div>
							<div th:remove="tag" th:if="${routeElement.stationToId eq 9999}">
								<div th:remove="tag" th:if="${routeElement.distanceWalking &gt;1000}">
									<b th:text="'walk to destination ('+${routeElement.distanceWalking/1000}+'km)'" ></b>	
								</div>
								<div th:remove="tag" th:if="${routeElement.distanceWalking  &lt;1000}">
									<b th:text="'walk to destination ('+${routeElement.distanceWalking}+'m)'" ></b>	
								</div>
							</div>
						    
						    <b th:if="${routeElement.stationToId != 9999 and routeElement.stationFromId != -1}" th:text="'change bus, walk to station '+ ${routeElement.stationToId}+' ('+${routeElement.distanceWalking}+'m) '" ></b>
						</div>
						<div th:if="${routeElement.distanceOnBus != 0}">
							<div th:if="${routeElement.distanceOnBus &gt;1000}">
								<b th:text="'get on route '+ ${routeElement.busRoute.id}+' from station '+${routeElement.stationFromId}+' to station '+${routeElement.stationToId}+'  ('+${routeElement.distanceOnBus/1000}+'km) '" ></b>
							</div>
							<div th:if="${routeElement.distanceOnBus &lt;1000}">
							    <b th:text="'get on route '+ ${routeElement.busRoute.id}+' from station '+${routeElement.stationFromId}+' to station '+${routeElement.stationToId}+'  ('+${routeElement.distanceOnBus}+'m) '" ></b>
							</div>
						</div>
					</div>
				</div>
				</div>
				<div th:if="${size == 0}" >
					<div class="row row-eq-height rowClear4 row-bordered">
						<div class="col-md-10 col-xs-3 col-md-offset-0">
							<i>There is no bus route within your location</i>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</body>

</html>