<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Google Map Hello World Example</title>
<style>
#right-panel {
	font-family: 'Roboto', 'sans-serif';
	line-height: 30px;
	padding-left: 10px;
}
#right-panel select, #right-panel input {
	font-size: 15px;
}
#right-panel select {
	width: 100%;
}
#right-panel i {
	font-size: 12px;
}
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#map {
	height: 100%;
	float: left;
	width: 70%;
	height: 100%;
}
#right-panel {
	margin: 20px;
	border-width: 2px;
	width: 20%;
	height: 400px;
	float: left;
	text-align: left;
	padding-top: 0;
	background-color: pink;
}
#directions-panel {
	margin-top: 10px;
	background-color: #FFEE77;
	padding: 10px;
}
</style>
</head>
<body>
	<div id="map"></div>
	<div id="right-panel">
		<input type="submit" id="submit" />
		<input type="submit" class="route" value="route5" name="route5" />
		<input type="submit" class="route" value="route7" name="route7"/>
		<div id="directions-panel"></div>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
		 function initMap() {
             var directionsService = new google.maps.DirectionsService;
             var directionsDisplay = new google.maps.DirectionsRenderer;
             // init map
             var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: {lat: 16.054856,lng:108.200403}
            });
            directionsDisplay.setMap(map);
            var url= window.location.href;
            $(".route").click(function(){
                var busRoute=$(this).val();
//                ajax here
				$.ajax({
					type : "GET",
					contentType : "application/json",
					url : url+"/ajax",
					data : {
						busRoute : busRoute,
					},
					dataType : 'json',
					timeout : 100000,
					success : function(jsonResponse) {
                       calculateAndDisplayRoute1(directionsService, directionsDisplay,jsonResponse);        
                    }
				});
            });
         }
    
    	function parseLat(str){
    		let temp= [];
    		temp=str.split(',');
    		let number=parseFloat(temp[0]);
    		return number;
    	}
    	function parseLng(str){
    		let temp= [];
    		temp=str.split(',');
    		let number=parseFloat(temp[1]);
    		return number;
    	}
		
		 function calculateAndDisplayRoute1(directionsService, directionsDisplay,jsonResponse) {
			   // load waypoint from server
	        var totalDataLength=jsonResponse.length;
	        var waypts = [];
            var checkboxArray = jsonResponse;
            var totalDataLength=jsonResponse.length;
            
            var latLng=checkboxArray[0].LatLng;
            console.log(latLng);
            latLng=parseLng(latLng);
            console.log(latLng+1);
            
             
        	   for (let i = 0; i < checkboxArray.length; i++) {
	          	if (i>0 && i<checkboxArray.length-1) {
					let lat=parseLat(checkboxArray[i].LatLng);
					let lng=parseLng(checkboxArray[i].LatLng);
	            	waypts.push({
	            	location:  new google.maps.LatLng(lat,lng),
	              	stopover: true
	            	});
          		}
        	}    
        	  directionsService.route({
        		 origin: new google.maps.LatLng(parseLat(checkboxArray[0].LatLng),parseLng(checkboxArray[0].LatLng)),
	             destination:new google.maps.LatLng(parseLat(checkboxArray[totalDataLength-1].LatLng),parseLng(checkboxArray[totalDataLength-1].LatLng)),
	              waypoints: waypts,
	              optimizeWaypoints: true,
	              travelMode: 'DRIVING'
	           }, function(response, status) {
                    if (status === 'OK') {
                directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });      
	    }		 
	        
     
      /*]]>*/
    </script>

	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCv7lDkj6Yd3cMbujJcHTKIo_AzLEga-7c&amp;callback=initMap"
		async="async" defer="defer"></script>
		
</body>
</html>