<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Hello Thymeleaf!</title>
</head>
<body>
	<form  th:action="@{/form}" th:object="${postModel}" method="post">
		<table>
			<tr>
				<td>title</td>
				<td><input type="text" th:field="*{title}" /></td>
				<td th:if="${#fields.hasErrors('title')}" th:errors="*{title}" ></td>	
			</tr>
			<tr>
				<td>content</td>
				<td><input type="text" th:field="*{content}" /></td>
				<td th:if="${#fields.hasErrors('content')}" >Error message not customize</td>
			</tr>
			<tr>
				<td><input type="submit" /></td>
			</tr>
		</table>
		
	</form>

</body>
</html>