<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
    <link rel="stylesheet" href="../resources/mapOffical.css"></link>
</head>

<body>
    <!--header-->
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <bold>Bus Map Da Nang</bold>
                    </a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span> </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <!--map-->
    <div id="map"></div>
    <!--sidebar-->
    <div id="mySidenav" class="sidenav"> <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&#9776;</a>
        <ul class="nav nav-tabs nav-justified">
            <li class="active">
                <a href=""> <i class="fa fa-search" aria-hidden="true"></i> bus routes</a>
            </li>
            <li>
                <a href="#"> <i class="glyphicon glyphicon-map-marker"></i> Tìm đường</a>
            </li>
        </ul>
        
        <div id="content">
        	<div class="searchBox" style="">
            <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2"></input> </div>
            <div class="containter">
                <div class="row row-eq-height rowClear">
                    <div class="col-md-2">
                        <p>ID</p>
                    </div>
                    <div class="col-md-6"><a href="">Cam Le-Hoa Vang</a></div>
                    <div class="col-md-4">
                        <p>Route 5</p>
                    </div>
                </div>
                <div class="row row-eq-height rowClear">
                    <div class="col-md-2">
                        <p>ID</p>
                    </div>
                    <div class="col-md-6"><a href="">Cam Le-Hoa Vang</a></div>
                    <div class="col-md-4">
                        <p>Route 5</p>
                    </div>
                </div>
                <div class="row row-eq-height rowClear">
                    <div class="col-md-2">
                        <p>ID</p>
                    </div>
                    <div class="col-md-6"><a href="">Cam Le-Hoa Vang</a></div>
                    <div class="col-md-4">
                        <p>Route 5</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../resources/mapOffical.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCv7lDkj6Yd3cMbujJcHTKIo_AzLEga-7c&amp;callback=initMap" async="async" defer="defer"></script>
</body>

</html>